# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [3]:
import sqlite3
import pandas as pd

In [4]:
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

In [6]:
#Your code here
cur.execute("""SELECT e.firstName,
                      e.lastName,
                      o.city,
                      o.state
               FROM employees e
               LEFT JOIN offices o ON e.officeCode = o.officeCode;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head()

Number of results: 23

   firstName   lastName           city       state
0      Diane     Murphy  San Francisco          CA
1       Mary  Patterson  San Francisco          CA
2       Jeff   Firrelli  San Francisco          CA
3    William  Patterson         Sydney
4     Gerard     Bondur          Paris
5    Anthony        Bow  San Francisco          CA
6     Leslie   Jennings  San Francisco          CA
7     Leslie   Thompson  San Francisco          CA
8      Julie   Firrelli         Boston          MA
9      Steve  Patterson         Boston          MA
10  Foon Yue      Tseng            NYC          NY
11    George     Vanauf            NYC          NY
12      Loui     Bondur          Paris
13    Gerard  Hernandez          Paris
14    Pamela   Castillo          Paris
15     Larry       Bott         London
16     Barry      Jones         London
17      Andy     Fixter         Sydney
18     Peter      Marsh         Sydney
19       Tom       King         Sydney
20      Mami      Nishi          Tokyo  Chiyoda-Ku
21   Yoshimi       Kato          Tokyo  Chiyoda-Ku
22    Martin     Gerard          Paris

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [13]:
# Your code here
cur.execute("""SELECT c.customerName,
                      od.orderNumber,
                      od.orderDate,
                      od.status
               FROM customers c
               LEFT JOIN orders od ON c.customerNumber = od.customerNumber
               ORDER BY c.customerName;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head()

Number of results: 350

     customerName orderNumber   orderDate   status
0   ANG Resellers        None        None     None
1  AV Stores, Co.       10110  2003-03-18  Shipped
2  AV Stores, Co.       10306  2004-10-14  Shipped
3  AV Stores, Co.       10332  2004-11-17  Shipped
4    Alpha Cognac       10136  2003-07-04  Shipped

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [29]:
cur.execute("""SELECT d.*
               FROM orders od
               LEFT JOIN orderdetails d ON od.orderNumber = d.orderNumber
               ORDER BY od.orderNumber;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head()

Number of results: 2996

  orderNumber productCode quantityOrdered priceEach orderLineNumber
0       10100    S18_1749              30    136.00               3
1       10100    S18_2248              50     55.09               2
2       10100    S18_4409              22     75.46               4
3       10100    S24_3969              49     35.29               1
4       10101    S18_2325              25    108.06               4

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [37]:
cur.execute("""SELECT d.*,
                   p.productName,
                   p.productLine,
                   p.productScale,
                   p.productVendor,
                   p.productDescription,
                   p.quantityinStock,
                   p.buyPrice,
                   p.MSRP
               FROM orders od
               LEFT JOIN orderdetails d ON od.orderNumber = d.orderNumber
               LEFT JOIN products p ON d.productCode = p.productCode
               ORDER BY od.orderNumber;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head(100)

Number of results: 2996

,orderNumber,productCode,quantityOrdered,priceEach,orderLineNumber,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,10100,S18_1749,30,136.00,3,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
1,10100,S18_2248,50,55.09,2,1911 Ford Town Car,Vintage Cars,1:18,Motor City Art Classics,"Features opening hood, opening doors, opening ...",540,33.30,60.54
2,10100,S18_4409,22,75.46,4,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,1:18,Exoto Designs,This 1:18 scale precision die cast replica fea...,6553,43.26,92.03
3,10100,S24_3969,49,35.29,1,1936 Mercedes Benz 500k Roadster,Vintage Cars,1:24,Red Start Diecast,This model features grille-mounted chrome horn...,2081,21.75,41.03
4,10101,S18_2325,25,108.06,4,1932 Model A Ford J-Coupe,Vintage Cars,1:18,Autoart Studio Design,This model features grille-mounted chrome horn...,9354,58.48,127.13
5,10101,S18_2795,26,167.06,1,1928 Mercedes-Benz SSK,Vintage Cars,1:18,Gearbox Collectibles,This 1:18 replica features grille-mounted chro...,548,72.56,168.75
6,10101,S24_1937,45,32.53,3,1939 Chevrolet Deluxe Coupe,Vintage Cars,1:24,Motor City Art Classics,This 1:24 scale die-cast replica of the 1939 C...,7332,22.57,33.19
7,10101,S24_2022,46,44.35,2,1938 Cadillac V-16 Presidential Limousine,Vintage Cars,1:24,Classic Metal Creations,This 1:24 scale precision die cast replica of ...,2847,20.61,44.80
8,10102,S18_1342,39,95.55,2,1937 Lincoln Berline,Vintage Cars,1:18,Motor City Art Classics,"Features opening engine cover, doors, trunk, a...",8693,60.62,102.74
9,10102,S18_1367,41,43.13,1,1936 Mercedes-Benz 500K Special Roadster,Vintage Cars,1:18,Studio M Art Models,This 1:18 scale replica is constructed of heav...,8635,24.26,53.91
10,10103,S10_1949,26,214.30,11,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
11,10103,S10_4962,42,119.67,4,1962 LanciaA Delta 16V,Classic Cars,1:10,Second Gear Diecast,Features include: Turnable front wheels; steer...,6791,103.42,147.74
12,10103,S12_1666,27,121.64,8,1958 Setra Bus,Trucks and Buses,1:12,Welly Diecast Productions,"Model features 30 windows, skylights & glare r...",1579,77.90,136.67
13,10103,S18_1097,35,94.50,10,1940 Ford Pickup Truck,Trucks and Buses,1:18,Studio M Art Models,"This model features soft rubber tires, working...",2613,58.33,116.67
14,10103,S18_2432,22,58.34,2,1926 Ford Fire Engine,Trucks and Buses,1:18,Carousel DieCast Legends,Gleaming red handsome appearance. Everything i...,2018,24.92,60.77
15,10103,S18_2949,27,92.19,12,1913 Ford Model T Speedster,Vintage Cars,1:18,Carousel DieCast Legends,This 250 part reproduction includes moving han...,4189,60.78,101.31
16,10103,S18_2957,35,61.84,14,1934 Ford V8 Coupe,Vintage Cars,1:18,Min Lin Diecast,"Chrome Trim, Chrome Grille, Opening Hood, Open...",5649,34.35,62.46
17,10103,S18_3136,25,86.92,13,18th Century Vintage Horse Carriage,Vintage Cars,1:18,Red Start Diecast,Hand crafted diecast-like metal horse carriage...,5992,60.74,104.72
18,10103,S18_3320,46,86.31,16,1917 Maxwell Touring Car,Vintage Cars,1:18,Exoto Designs,"Features Gold Trim, Full Size Spare Tire, Chro...",7913,57.54,99.21
19,10103,S18_4600,36,98.07,5,1940s Ford truck,Trucks and Buses,1:18,Motor City Art Classics,This 1940s Ford Pick-Up truck is re-created in...,3128,84.76,121.08
20,10103,S18_4668,41,40.75,9,1939 Cadillac Limousine,Vintage Cars,1:18,Studio M Art Models,Features completely detailed interior includin...,6645,23.14,50.31
21,10103,S24_2300,36,107.34,1,1962 Volkswagen Microbus,Trucks and Buses,1:24,Autoart Studio Design,This 1:18 scale die cast replica of the 1962 M...,2327,61.34,127.79
22,10103,S24_4258,25,88.62,15,1936 Chrysler Airflow,Vintage Cars,1:24,Second Gear Diecast,"Features opening trunk, working steering syst...",4710,57.46,97.39
23,10103,S32_1268,31,92.46,3,1980’s GM Manhattan Express,Trucks and Buses,1:32,Motor City Art Classics,This 1980’s era new look Manhattan express is ...,5099,53.93,96.31
24,10103,S32_3522,45,63.35,7,1996 Peterbilt 379 Stake Bed with Outrigger,Trucks and Buses,1:32,Red Start Diecast,"This model features, opening doors, detailed e...",814,33.61,64.64
25,10103,S700_2824,42,94.07,6,1982 Camaro Z28,Classic Cars,1:18,Carousel DieCast Legends,Features include opening and closing doors. Co...,6934,46.53,101.15
26,10104,S12_3148,34,131.44,1,1969 Corvair Monza,Classic Cars,1:18,Welly Diecast Productions,"1:18 scale die-cast about 10"" long doors open,...",6906,89.14,151.08
27,10104,S12_4473,41,111.39,9,1957 Chevy Pickup,Trucks and Buses,1:12,Exoto Designs,"1:12 scale die-cast about 20"" long Hood opens,...",6125,55.70,118.50
28,10104,S18_2238,24,135.90,8,1998 Chrysler Plymouth Prowler,Classic Cars,1:18,Gearbox Collectibles,Turnable front wheels; steering function; deta...,4724,101.51,163.73
29,10104,S18_2319,29,122.73,12,1964 Mercedes Tour Bus,Trucks and Buses,1:18,Unimax Art Galleries,Exact replica. 100+ parts. working steering sy...,8258,74.86,122.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,10106,S700_4002,48,70.33,10,American Airlines: MD-11S,Planes,1:700,Second Gear Diecast,Polished finish. Exact replia with official lo...,8820,36.27,74.03
71,10106,S72_1253,48,43.70,15,Boeing X-32A JSF,Planes,1:72,Motor City Art Classics,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
72,10107,S10_1678,30,81.35,2,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
73,10107,S10_2016,39,105.86,5,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
74,10107,S10_4698,27,172.36,4,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
75,10107,S12_2823,21,122.00,1,2002 Suzuki XREO,Motorcycles,1:12,Unimax Art Galleries,"Official logos and insignias, saddle bags loca...",9997,66.27,150.62
76,10107,S18_2625,29,52.70,6,1936 Harley Davidson El Knucklehead,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57
77,10107,S24_1578,25,96.92,3,1997 BMW R 1100 S,Motorcycles,1:24,Autoart Studio Design,Detailed scale replica with working suspension...,7003,60.86,112.70
78,10107,S24_2000,38,73.12,7,1960 BSA Gold Star DBD34,Motorcycles,1:24,Highway 66 Mini Classics,Detailed scale replica with working suspension...,15,37.32,76.17
79,10107,S32_1374,20,88.90,8,1997 BMW F650 ST,Motorcycles,1:32,Exoto Designs,Features official die-struck logos and baked e...,178,66.92,99.89
80,10108,S12_1099,33,165.38,6,1968 Ford Mustang,Classic Cars,1:12,Autoart Studio Design,"Hood, doors and trunk all open to reveal highl...",68,95.34,194.57
81,10108,S12_3380,45,96.30,4,1968 Dodge Charger,Classic Cars,1:12,Welly Diecast Productions,1:12 scale model of a 1968 Dodge Charger. Hood...,9123,75.16,117.44
82,10108,S12_3990,39,75.81,7,1970 Plymouth Hemi Cuda,Classic Cars,1:12,Studio M Art Models,Very detailed 1970 Plymouth Cuda model in 1:12...,5663,31.92,79.80
83,10108,S12_4675,36,107.10,3,1969 Dodge Charger,Classic Cars,1:12,Welly Diecast Productions,Detailed model of the 1969 Dodge Charger. This...,7323,58.73,115.16
84,10108,S18_1889,38,67.76,2,1948 Porsche 356-A Roadster,Classic Cars,1:18,Gearbox Collectibles,This precision die-cast replica features openi...,8826,53.90,77.00
85,10108,S18_3278,26,73.17,9,1969 Dodge Super Bee,Classic Cars,1:18,Min Lin Diecast,"This replica features opening doors, superb de...",1917,49.05,80.41
86,10108,S18_3482,29,132.29,8,1976 Ford Gran Torino,Classic Cars,1:18,Gearbox Collectibles,"Highly detailed 1976 Ford Gran Torino ""Starsky...",9127,73.49,146.99
87,10108,S18_3782,43,52.84,12,1957 Vespa GS150,Motorcycles,1:18,Studio M Art Models,"Features rotating wheels , working kick stand....",7689,32.95,62.17
88,10108,S18_4721,44,139.87,11,1957 Corvette Convertible,Classic Cars,1:18,Classic Metal Creations,1957 die cast Corvette Convertible in Roman Re...,1249,69.93,148.80
89,10108,S24_2360,35,64.41,15,1982 Ducati 900 Monster,Motorcycles,1:24,Highway 66 Mini Classics,"Features two-tone paint with chrome accents, s...",6840,47.10,69.26
90,10108,S24_3371,30,60.01,5,1971 Alpine Renault 1600s,Classic Cars,1:24,Welly Diecast Productions,This 1971 Alpine Renault 1600s replica Feature...,7995,38.58,61.23
91,10108,S24_3856,40,132.00,1,1956 Porsche 356A Coupe,Classic Cars,1:18,Classic Metal Creations,Features include: Turnable front wheels; steer...,6600,98.30,140.43
92,10108,S24_4620,31,67.10,10,1961 Chevrolet Impala,Classic Cars,1:18,Classic Metal Creations,This 1:18 scale precision die-cast reproductio...,7869,32.33,80.84
93,10108,S32_2206,27,36.21,13,1982 Ducati 996 R,Motorcycles,1:32,Gearbox Collectibles,"Features rotating wheels , working kick stand....",9241,24.14,40.23
94,10108,S32_4485,31,87.76,16,1974 Ducati 350 Mk3 Desmo,Motorcycles,1:32,Second Gear Diecast,This model features two-tone paint with chrome...,3341,56.13,102.05
95,10108,S50_4713,34,74.85,14,2002 Yamaha YZR M1,Motorcycles,1:50,Autoart Studio Design,"Features rotating wheels , working kick stand....",600,34.17,81.36
96,10109,S18_1129,26,117.48,4,1993 Mazda RX-7,Classic Cars,1:18,Highway 66 Mini Classics,"This model features, opening hood, opening doo...",3975,83.51,141.54
97,10109,S18_1984,38,137.98,3,1995 Honda Civic,Classic Cars,1:18,Min Lin Diecast,"This model features, opening hood, opening doo...",9772,93.89,142.25
98,10109,S18_2870,26,126.72,1,1999 Indy 500 Monte Carlo SS,Classic Cars,1:18,Red Start Diecast,Features include opening and closing doors. Co...,8164,56.76,132.00
99,10109,S18_3232,46,160.87,5,1992 Ferrari 360 Spider red,Classic Cars,1:18,Unimax Art Galleries,"his replica features opening doors, superb det...",8347,77.90,169.34

below are solutions from solution

In [42]:
cur.execute("""select * from customers
                        join employees
                        on (customers.salesRepEmployeeNumber = employeeNumber);""")
df = pd.DataFrame(cur.fetchall())
print('Number of results', len(df))
df.head()

Number of results 100

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,...,1370,21000.00,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,...,1166,71800.00,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,...,1611,117300.00,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,...,1370,118200.00,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,...,1504,81700.00,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep

In [43]:
cur.execute("""select * from payments
                        join customers
                        using(customerNumber);""")
df = pd.DataFrame(cur.fetchall())
print('Number of results', len(df))
df.head()

Number of results 273

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,103,HQ336336,2004-10-19,6066.78,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00
1,103,JM555205,2003-06-05,14571.44,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00
2,103,OM314933,2004-12-18,1676.14,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00
3,112,BO864823,2004-12-17,14191.12,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00
4,112,HQ55022,2003-06-06,32641.98,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00

In [41]:

cur.execute("""select * from orders
                        join payments
                        on (orders.orderDate = payments.paymentDate)
                        order by orders.orderNumber;""")
df = pd.DataFrame(cur.fetchall())
print('Number of results', len(df))
df.head()

Number of results 118

,0,1,2,3,4,5,6,7,8,9,10
0,10116,2003-04-11,2003-04-19,2003-04-13,Shipped,,381,124,CQ287967,2003-04-11,11044.30
1,10117,2003-04-16,2003-04-24,2003-04-17,Shipped,,148,424,LM271923,2003-04-16,21665.98
2,10123,2003-05-20,2003-05-29,2003-05-22,Shipped,,103,114,GG31455,2003-05-20,45864.03
3,10124,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...,112,353,GT878649,2003-05-21,16700.47
4,10125,2003-05-21,2003-05-27,2003-05-24,Shipped,,114,353,GT878649,2003-05-21,16700.47

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!